@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
:root {
    font-size: 16px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    /* put variables here */
    --mine: url('/img/mine-01.svg');
    --theirs: url('/img/theirs-01.svg');
    --arrow: url('/img/TriangleArrow.svg');
}
html {
    box-sizing: border-box;
}

/* *, *:before, *:after {
    box-sizing: border-box;
} */

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: #EDF5F9;
    }
h1 {
    width: 101vw;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 2vh;
    z-index: 999;
    box-shadow: 1px 0 6px black;
    transition: all 500ms ease-in;
}
.splash {
    position: absolute;
    background: #EDF5F9;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 40vh 0;
    box-shadow: none;
    transition: all 500ms ease-out;
}    
.content {
    position: relative;
    /* margin: 1vh 2vh;
    padding: 0; */
}
#thread {
    position: relative;
    display: block;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
}

/* Thread styling */
ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}
#thread li {
   text-align: center;
   display: flex;
   justify-content: space-between;
   list-style-type: none;
   margin: 4vh 2vw;
}
h2 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    text-decoration: none;
}
.square {
    height: 1.2rem;
}
.mine > .square {
    content: var(--mine);
}
.theirs > .square {
    content: var(--theirs);
}
.arrow {
    content: var(--arrow);
    height: 1.2rem;
    float: right;
}

/* Message styling */
#messages {
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
}
.msg {
    margin: 4vh 2vw;
    padding: 4vw;
    display: flex;
    align-items: center;
    box-shadow: 1px 0 3px #00000022;
    flex-wrap: wrap;
    font-size: 1.2rem; 
}
.msg-mine {
    text-align: left;
    padding-right: 40vw;
    background-color: #74CFEC;
    border-radius: 8px;
}
/* .msg-mine div {
    background-color: #74CFEC;
} */
.msg-theirs {
    text-align: right;
    padding-left: 40vw;
    background-color: #88C987;
    border-radius: 8px;
}
/* .msg-mine div {
    background-color: #88C987;
} */
