@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
:root {
    font-size: 16px;
    font-family: 'Quicksand', 'Roboto', sans-serif;
    /* put variables here */
    /* --mine: url('/img/mine-01.svg'); */
    /* --theirs: url('/img/theirs-01.svg'); */
}
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    border: 0;
    /* width: 100vw; */
    }
h1 {
    font-family: 'Quicksand', 'Roboto', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 2vh;
    box-shadow: 1px 0 6px black;
}    
.content {
    position: relative;
    margin: 1vh 2vh;
    padding: 0;
}
#thread {
    position: relative;
    display: block;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
}
#messages {
    position: relative;
    display: none;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
}
ul {
    padding: 0;
}
li {
   text-align: center;
}
h2 {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
}
.mine {
    list-style-type: none;
    background-image: url('/img/mine-01.svg');
    background-size: 8vw;
    background-repeat: no-repeat;
    background-position: 0 .4em;
    padding: .6em 0;
    margin: 4vh 2vw;
}
.theirs {
    list-style-type: none;
    background-image: url('/img/theirs-01.svg');
    background-size: 8vw;
    background-repeat: no-repeat;
    background-position: 0 .4em;
    background-origin: border-box;
    padding: .6em 0;
    margin: 4vh 2vw;
}